/* Colors */
/* Defaults */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  /*background: linear-gradient(to bottom, #639EDB, #0668CF) no-repeat;*/
  background: #fff;
  height: 100vh;
  width: 100vw;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100vw;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

/* Mixins */
/* Header Desktop */
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Style */
  height: 15%;
  width: 100vw;
  background: #303030;
  padding: 10px;
  /* Text */
  color: #fff;
  text-align: center;
}

@media (orientation: portrait) {
  #header {
    display: none;
  }
}

#header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Position */
  position: absolute;
  top: 0;
  left: 5%;
  /* Style */
  height: 15%;
  width: 15%;
  /* Text */
  font-size: 7.5vh;
  color: white;
}

#header-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* Style */
  width: 30%;
  /* Text */
  text-align: center;
}

#header-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Style */
  height: 100%;
  width: 100%;
}

.header-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* Style */
  margin: 0 5%;
  color: #fff;
  /* Text */
  text-decoration: none;
  font-size: 6vh;
}

#header-weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Position */
  position: absolute;
  top: 0;
  left: 80%;
  height: 15%;
  width: 15%;
  /* Text */
  font-size: 4.5vh;
}

/* Header Mobile */
#header-mobile {
  display: none;
  /* Style */
  height: 10%;
  width: 100vw;
  background: #303030;
  padding: 10px;
  /* Text */
  color: #fff;
  text-align: left;
}

@media (orientation: portrait) {
  #header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#header-mobile-logo {
  /* Style */
  width: 80%;
  /* Text */
  font-size: 5vh;
  color: white;
}

/* Sidenav Mobile */
#mobile-sidenav {
  /* Position */
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  /* Style */
  height: 100vh;
  background: #303030;
}

#mobile-sidenav #link-container {
  width: 100%;
}

#mobile-sidenav .link {
  color: #fff;
}

@media (orientation: portrait) {
  #mobile-sidenav {
    display: block;
  }
  #mobile-sidenav #link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidenavOpen {
  width: 50%;
}

.sidenavClosed {
  width: 0%;
}

/* Weight Form */
.weightFormContainer {
  /* Position */
  height: 20vmin;
  width: 60vmin;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Style */
  border-radius: 6px;
  margin: auto;
  background-color: #1566BB;
}

#weightFormPulse {
  /* Position */
  height: 20vmin;
  width: 60vmin;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Style */
  border-style: solid;
  border-color: #5E99D6;
  border-width: 2px;
  border-radius: 6px;
  /* Animation */
  background: transparent;
  -webkit-animation: mymove 2s infinite;
          animation: mymove 2s infinite;
}

@-webkit-keyframes mymove {
  0% {
    top: 0;
    left: 0;
    height: 20vmin;
    width: 60vmin;
  }
  50% {
    top: -2.5vmin;
    left: -2.5vmin;
    height: 25vmin;
    width: 65vmin;
  }
  100% {
    top: 0;
    left: 0;
    height: 20vmin;
    width: 60vmin;
  }
}

@keyframes mymove {
  0% {
    top: 0;
    left: 0;
    height: 20vmin;
    width: 60vmin;
  }
  50% {
    top: -2.5vmin;
    left: -2.5vmin;
    height: 25vmin;
    width: 65vmin;
  }
  100% {
    top: 0;
    left: 0;
    height: 20vmin;
    width: 60vmin;
  }
}

#weightFormPulse:hover {
  width: 13.3em;
  height: 4em;
}

.weightFormWeight {
  /* Position */
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Style */
  font-size: 7.5vmin;
  background: transparent;
  border: none;
  color: white;
  text-align: center;
}

.weightFormKG {
  /* Position */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30%;
  width: 40%;
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* Style */
  background: #5E99D6;
  border: none;
  text-align: center;
  cursor: pointer;
  opacity: 0.3;
}

.weightFormKG p {
  margin: auto;
  vertical-align: middle;
  color: white;
  font-size: 7.5vmin;
}

.weightFormButton {
  /* Position */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 65%;
  width: 35%;
  margin: auto;
  /* Style */
  border-radius: 6px;
  background: #5E99D6;
  border: none;
  color: #1566BB;
  cursor: pointer;
  font-size: 7.5vmin;
}

/* Program */
#program-list {
  position: absolute;
  top: 15%;
  left: 0;
  height: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.program {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  text-decoration: none;
  cursor: pointer;
  width: 33vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.program .title {
  color: #5E99D6;
}

/* Loading Animation */
.holder {
  position: absolute;
  left: 0;
  top: 15%;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 85%;
}

.preloader {
  /* size */
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: rotatePreloader 2s infinite ease-in;
          animation: rotatePreloader 2s infinite ease-in;
}

@-webkit-keyframes rotatePreloader {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

@keyframes rotatePreloader {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 10%;
  height: 10%;
  background-color: #1566BB;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}

.preloader div:nth-child(1) {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-animation: rotateCircle1 2s infinite linear;
          animation: rotateCircle1 2s infinite linear;
  z-index: 9;
}

@-webkit-keyframes rotateCircle1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(36deg);
            transform: rotateZ(36deg);
  }
  7% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  57% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(36deg);
            transform: rotateZ(36deg);
  }
  7% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  57% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(2) {
  -webkit-transform: rotateZ(36deg);
          transform: rotateZ(36deg);
  -webkit-animation: rotateCircle2 2s infinite linear;
          animation: rotateCircle2 2s infinite linear;
  z-index: 8;
}

@-webkit-keyframes rotateCircle2 {
  5% {
    opacity: 0;
  }
  5.0001% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  12% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  62% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle2 {
  5% {
    opacity: 0;
  }
  5.0001% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  12% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  62% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(3) {
  -webkit-transform: rotateZ(72deg);
          transform: rotateZ(72deg);
  -webkit-animation: rotateCircle3 2s infinite linear;
          animation: rotateCircle3 2s infinite linear;
  z-index: 7;
}

@-webkit-keyframes rotateCircle3 {
  10% {
    opacity: 0;
  }
  10.0002% {
    opacity: 1;
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  17% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  67% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle3 {
  10% {
    opacity: 0;
  }
  10.0002% {
    opacity: 1;
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  17% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  67% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(4) {
  -webkit-transform: rotateZ(108deg);
          transform: rotateZ(108deg);
  -webkit-animation: rotateCircle4 2s infinite linear;
          animation: rotateCircle4 2s infinite linear;
  z-index: 6;
}

@-webkit-keyframes rotateCircle4 {
  15% {
    opacity: 0;
  }
  15.0003% {
    opacity: 1;
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  22% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  72% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle4 {
  15% {
    opacity: 0;
  }
  15.0003% {
    opacity: 1;
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  22% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  72% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(5) {
  -webkit-transform: rotateZ(144deg);
          transform: rotateZ(144deg);
  -webkit-animation: rotateCircle5 2s infinite linear;
          animation: rotateCircle5 2s infinite linear;
  z-index: 5;
}

@-webkit-keyframes rotateCircle5 {
  20% {
    opacity: 0;
  }
  20.0004% {
    opacity: 1;
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  27% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  77% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle5 {
  20% {
    opacity: 0;
  }
  20.0004% {
    opacity: 1;
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  27% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  77% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(6) {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-animation: rotateCircle6 2s infinite linear;
          animation: rotateCircle6 2s infinite linear;
  z-index: 4;
}

@-webkit-keyframes rotateCircle6 {
  25% {
    opacity: 0;
  }
  25.0005% {
    opacity: 1;
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  32% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  82% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle6 {
  25% {
    opacity: 0;
  }
  25.0005% {
    opacity: 1;
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  32% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  82% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(7) {
  -webkit-transform: rotateZ(216deg);
          transform: rotateZ(216deg);
  -webkit-animation: rotateCircle7 2s infinite linear;
          animation: rotateCircle7 2s infinite linear;
  z-index: 3;
}

@-webkit-keyframes rotateCircle7 {
  30% {
    opacity: 0;
  }
  30.0006% {
    opacity: 1;
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  37% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  87% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle7 {
  30% {
    opacity: 0;
  }
  30.0006% {
    opacity: 1;
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  37% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  87% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(8) {
  -webkit-transform: rotateZ(252deg);
          transform: rotateZ(252deg);
  -webkit-animation: rotateCircle8 2s infinite linear;
          animation: rotateCircle8 2s infinite linear;
  z-index: 2;
}

@-webkit-keyframes rotateCircle8 {
  35% {
    opacity: 0;
  }
  35.0007% {
    opacity: 1;
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  42% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  92% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle8 {
  35% {
    opacity: 0;
  }
  35.0007% {
    opacity: 1;
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  42% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  92% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(9) {
  -webkit-transform: rotateZ(288deg);
          transform: rotateZ(288deg);
  -webkit-animation: rotateCircle9 2s infinite linear;
          animation: rotateCircle9 2s infinite linear;
  z-index: 1;
}

@-webkit-keyframes rotateCircle9 {
  40% {
    opacity: 0;
  }
  40.0008% {
    opacity: 1;
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  47% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  97% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle9 {
  40% {
    opacity: 0;
  }
  40.0008% {
    opacity: 1;
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  47% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  97% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

.preloader div:nth-child(10) {
  -webkit-transform: rotateZ(324deg);
          transform: rotateZ(324deg);
  -webkit-animation: rotateCircle10 2s infinite linear;
          animation: rotateCircle10 2s infinite linear;
  z-index: 0;
}

@-webkit-keyframes rotateCircle10 {
  45% {
    opacity: 0;
  }
  45.0009% {
    opacity: 1;
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  52% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
  }
  102% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle10 {
  45% {
    opacity: 0;
  }
  45.0009% {
    opacity: 1;
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  52% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
  }
  102% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

/* Hamburgher Icon */
#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 10%;
  height: 100%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 15%;
  width: 100%;
  background: #5E99D6;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 17.5%;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 42.5%;
}

#nav-icon3 span:nth-child(4) {
  top: 67.5%;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}
/*# sourceMappingURL=App.css.map */