
/* Colors */
$black: #303030;
$darkBlue: #1566BB;
$lightBlue: #5E99D6;

/* Defaults */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    /*background: linear-gradient(to bottom, #639EDB, #0668CF) no-repeat;*/
    background: #fff;
    height: 100vh;
    width: 100vw;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    height: 100vh;
    width: 100vw;
}

.btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #666;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

/* Mixins */
@mixin table-cell-middle {
    display: table-cell;
    vertical-align: middle;
}

@mixin flexbox-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexbox-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Header Desktop */

$headerHeight: 15%;
$headerFontHeight: 15vh;

#header {
    @include flexbox-middle;
    /* Style */
    height: $headerHeight;
    width: 100vw;
    background: $black;
    padding: 10px;
    /* Text */
    color: #fff;
    text-align: center;
}

@media (orientation : portrait) {
    #header {
        display: none;
    }
}

#header-logo {
    @include flexbox-middle;
    /* Position */
    position: absolute;
    top: 0;
    left: 5%;
    /* Style */
    height: $headerHeight;
    width: 15%;
    /* Text */
    font-size: $headerFontHeight * 0.5;
    color: white;
}

#header-links {
    display: inline-flex;
    /* Style */
    width: 30%;
    /* Text */
    text-align: center;
}

#header-link-container {
    @include flexbox-middle;
    /* Style */
    height: 100%;
    width: 100%;
}

.header-link {
    display: inline-flex;
    /* Style */
    margin: 0 5%;
    color: #fff;
    /* Text */
    text-decoration: none;
    font-size: $headerFontHeight * 0.4;
}

#header-weight {
    @include flexbox-middle;
    /* Position */
    position: absolute;
    top: 0;
    left: 80%;
    height: $headerHeight;
    width: 15%;
    /* Text */
    font-size: $headerFontHeight * 0.3;
}

/* Header Mobile */

$headerHeightMob: 10%;
$headerFontHeight: 10vh;

#header-mobile {
    display: none;
    /* Style */
    height: $headerHeightMob;
    width: 100vw;
    background: $black;
    padding: 10px;
    /* Text */
    color: #fff;
    text-align: left;
}

@media (orientation : portrait) {
    #header-mobile {
        @include flexbox-middle;
    }
}

#header-mobile-logo {
    /* Style */
    width: 80%;
    /* Text */
    font-size: $headerFontHeight * 0.5;
    color: white;
}

/* Sidenav Mobile */

$mobileSidenavWidth: 50%;

#mobile-sidenav {
    /* Position */
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    /* Style */
    height: 100vh;
    background: $black;

    #link-container {
        width: 100%;
    }

    .link {
        color: #fff;
    }
}

@media (orientation : portrait) {
    #mobile-sidenav {
        display: block;

        #link-container {
            @include flexbox-vertical;
        }
    }
}

.sidenavOpen {
    width: $mobileSidenavWidth;
}

.sidenavClosed {
    width: 0%;
}

/* Weight Form */

$formSize: 60vmin;
$weightFormHeight: $formSize / 3;
$weightFormWidth: $formSize;

$formFontSize: $formSize/8;

.weightFormContainer {
    /* Position */
    height: $weightFormHeight;
    width: $weightFormWidth;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Style */
    border-radius: 6px;
    margin: auto;
    background-color: $darkBlue;
}

#weightFormPulse {
    /* Position */
    height: $weightFormHeight;
    width: $weightFormWidth;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Style */
    border-style: solid;
    border-color: $lightBlue;
    border-width: 2px;
    border-radius: 6px;
    /* Animation */
    background: transparent;
    animation: mymove 2s infinite;
}

@keyframes mymove {
    $sizePulseAdd: 5vmin;
    $heightEndPulse: $weightFormHeight+$sizePulseAdd;
    $widthEndPulse: $weightFormWidth+$sizePulseAdd;

    $topPosCompensation: ($weightFormHeight - $heightEndPulse)/2;
    $leftPosCompensation: ($weightFormWidth - $widthEndPulse)/2;

    0% {
        top: 0;
        left: 0;
        height: $weightFormHeight;
        width: $weightFormWidth;
    }
    50% {
        top: $topPosCompensation;
        left: $leftPosCompensation;
        height: $heightEndPulse;
        width: $widthEndPulse;
    }
    100% {
        top: 0;
        left: 0;
        height: $weightFormHeight;
        width: $weightFormWidth;
    }
}

#weightFormPulse:hover {
    width: 13.3em;
    height: 4em;
}

.weightFormWeight {
    /* Position */
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Style */
    font-size: $formFontSize;
    background: transparent;
    border: none;
    color: white;
    text-align: center;
}

.weightFormKG {
    /* Position */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    width: 40%;
    margin: auto;
    display: inline-flex;
    /* Style */
    background: $lightBlue;
    border: none;
    text-align: center;
    cursor: pointer;
    opacity: 0.3;
}

.weightFormKG p {
    margin: auto;
    vertical-align: middle;
    color: white;
    font-size: $formFontSize;
}

.weightFormButton {
    /* Position */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 65%;
    width: 35%;
    margin: auto;
    /* Style */
    border-radius: 6px;
    background: $lightBlue;
    border: none;
    color: $darkBlue;
    cursor: pointer;
    font-size: $formFontSize;
}

/* Program */

#program-list {
    position: absolute;
    top: $headerHeight;
    left: 0;
    height: 100% - $headerHeight;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.program {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    text-decoration: none;
    cursor: pointer;

    width: 33vw;
    flex-grow: 1;
    box-sizing: border-box;

    @include flexbox-middle;
    .title {
        color: $lightBlue;
    }
}

/* Loading Animation */
$count: 10;
$time: 2; //in seconds
$size: 100;
$color: $darkBlue;

.holder {
    position: absolute;
    left: 0;
    top: $headerHeight;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100% - $headerHeight;
}

.preloader {
    /* size */
    width: $size + px;
    height: $size + px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader $time + s infinite ease-in;
}
@keyframes rotatePreloader {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
}
.preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 10%;
    height: 10%;
    background-color: $color;
    transform: translateX(-50%);
    border-radius: 50%;
}

@for $i from 1 through $count {
    .preloader div:nth-child(#{$i}) {
        transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
        animation: rotateCircle + $i $time + s infinite linear;
        z-index: $count - $i;
    }
    @keyframes rotateCircle#{$i} {
        #{percentage(((50 / $count) * ($i - 1)) / 100)} {
            opacity: 0;
        }
        #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
            opacity: 1;
            transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
        }
        #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
            transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
            transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        100% {
            transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
            opacity: 1;
        }
    }
}

/* Hamburgher Icon */

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 10%;
    height: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

$hambHeight: 15%;

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: $hambHeight;
    width: 100%;
    background: $lightBlue;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 25% - $hambHeight/2;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 50% - $hambHeight/2;
}

#nav-icon3 span:nth-child(4) {
    top: 75% - $hambHeight/2;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}
